﻿<!DOCTYPE html>
<html>
<head>
    
    <base href="~/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices - NTI Sterling</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">


</head>
<body>


    <div id="wrapper">
        <header id="header">

            <!-- Navigation -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav in" id="side-menu">
                            <li>
                                <img class="img-responsive" src="../Content/img/logo-med.png" alt="Nti Sterling">
                            </li>
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="~/Home/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="~/UserManagement/" class="active"><i class="fa fa-table fa-fw"></i> User Management</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
        </header>


        <div id="page-wrapper" style="min-height: 918px;">
            <div class="container-fluid">
                <h1>User Management</h1>
                
                @RenderBody()

                
            </div>
        </div>



        

    </div>

        
        <div class="panel-footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p class="text-muted ">© 2019 NTI Sterling Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </div>
        </div>


    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>*@

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/React/Common.js"></script>

    @Scripts.Render("~/bundles/main")

</body>
</html>
